@using Microsoft.AspNetCore.Hosting
@inject IWebHostEnvironment Env

@{
    var roles = (Context.Session.GetString("Roles") ?? "")
        .Split(',', StringSplitOptions.RemoveEmptyEntries | StringSplitOptions.TrimEntries);
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>@ViewData["Title"] - Real Hasta la Suerte</title>

    <!-- Custom fonts -->
    <link rel="stylesheet" href="~/vendor/fontawesome-free/css/all.min.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet" />
    <link href="~/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" />


    <!-- Custom styles: NO cargues min y no-min a la vez -->
    @if (Env.IsDevelopment())
    {
        <link rel="stylesheet" href="~/css/sb-admin-2.css" asp-append-version="true" />
    }
    else
    {
        <link rel="stylesheet" href="~/css/sb-admin-2.min.css" asp-append-version="true" />
    }

    @RenderSection("Head", required: false)
</head>

<body id="page-top">

    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Brand -->
            <li class="nav-item">
                <a class="sidebar-brand d-flex align-items-center"
                   asp-controller="Home" asp-action="Index"
                   style="white-space: normal;">

                    <div class="sidebar-brand-icon d-flex align-items-center">
                        <img src="~/img/SUERTE_p.png"
                             alt="Real Hasta la Suerte"
                             class="img-fluid"
                             style="max-height:80px; width:auto;"
                             loading="lazy"
                             asp-append-version="true" />
                    </div>

                    <div class="sidebar-brand-text ml-2"
                         style="font-size:14px; line-height:1.1; max-width:100px; white-space:normal;">
                        <span class="d-block">Real Hasta</span>
                        <span class="d-block">La Suerte</span>
                    </div>
                </a>
            </li>

            <li class="nav-item"><hr class="sidebar-divider my-0" /></li>

            <!-- Inicio -->
            <li class="nav-item">
                <a class="nav-link" asp-controller="Home" asp-action="Index">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Inicio</span>
                </a>
            </li>

            <li class="nav-item"><hr class="sidebar-divider" /></li>

            <!-- Vendedores -->
            <li class="nav-item">
                <div class="sidebar-heading">Vendedores</div>
            </li>

            <!-- Generar venta (BS4: data-toggle/data-target) -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#"
                   data-toggle="collapse" data-target="#collapseGenerarVenta"
                   aria-expanded="false" aria-controls="collapseGenerarVenta">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Generar venta</span>
                </a>

                <div id="collapseGenerarVenta" class="collapse" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" asp-controller="Ventas" asp-action="Nueva">Nueva</a>
                        <a class="collapse-item" asp-controller="Ventas" asp-action="Reimprimir">Reimprimir</a>
                        <a class="collapse-item" asp-controller="Ventas" asp-action="Reporte">Reporte</a>
                    </div>
                </div>
            </li>

            <li class="nav-item"><hr class="sidebar-divider" /></li>

            <!-- Administración -->
            @if (roles.Contains("administrador"))
            {
            <li class="nav-item">
                <div class="sidebar-heading">Administrar</div>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="#"
                   data-toggle="collapse" data-target="#collapseUsuarios"
                   aria-expanded="false" aria-controls="collapseUsuarios">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Usuarios</span>
                </a>


                <div id="collapseUsuarios" class="collapse" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Registros:</h6>
                        <a class="collapse-item" asp-controller="Usuarios" asp-action="Index">Usuarios</a>
                        <a class="collapse-item" asp-controller="Rols" asp-action="Index">Roles</a>
                        <a class="collapse-item" asp-controller="Agencias" asp-action="Index">Agencias</a>
                        <a class="collapse-item" asp-controller="UsuarioAgencias" asp-action="Index">Asignar Agencia</a>
                        <a class="collapse-item" asp-controller="UsuarioRols" asp-action="Index">Asignar rol</a>
                    </div>
                </div>
            </li>
            }
@*             <li class="nav-item">
                <a class="nav-link collapsed" href="#"
                   data-toggle="collapse" data-target="#collapseAgencias"
                   aria-expanded="false" aria-controls="collapseAgencias">
                    <i class="fas fa-solid fa-store"></i>
                    <span>Agencias</span>
                </a>

                <div id="collapseAgencias" class="collapse" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Registros:</h6>
                        <a class="collapse-item" asp-controller="Agencias" asp-action="Index">Gestionar</a>
                    </div>
                </div>
            </li> *@

@*             <li class="nav-item">
                <a class="nav-link collapsed" href="#"
                   data-toggle="collapse" data-target="#collapseRoles"
                   aria-expanded="false" aria-controls="collapseAgencias">
                    <i class="fas fa-regular fa-address-book"></i>
                    <span>Roles</span>
                </a>

                <div id="collapseRoles" class="collapse" data-parent="#collapseRoles">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Registros:</h6>
                        <a class="collapse-item" asp-controller="Rols" asp-action="Index">Roles</a>
                    </div>
                </div>
            </li> *@

@*             <li class="nav-item">
                <a class="nav-link collapsed" href="#"
                   data-toggle="collapse" data-target="#collapseSorteo"
                   aria-expanded="false" aria-controls="collapseSorteo">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Sorteo/Resultados</span>
                </a>

                <div id="collapseSorteo" class="collapse" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" asp-controller="Sorteos" asp-action="Index">Sorteos</a>
                        <a class="collapse-item" asp-controller="Resultados" asp-action="Index">Resultados</a>
                    </div>
                </div>
            </li> *@

            <li class="nav-item">
                <a class="nav-link collapsed" href="#"
                   data-toggle="collapse" data-target="#collapseReportes"
                   aria-expanded="false" aria-controls="collapseReportes">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Reportes</span>
                </a>

                <div id="collapseReportes" class="collapse" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" asp-controller="Reportes" asp-action="Ventas">Ventas</a>
                        <a class="collapse-item" asp-controller="Reportes" asp-action="Comisiones">Comisiones</a>
                    </div>
                </div>
            </li>

            <li class="nav-item"><hr class="sidebar-divider d-none d-md-block" /></li>

            <li class="nav-item w-100">
                <div class="d-flex justify-content-center align-items-center py-2">
                    <button class="rounded-circle border-0" id="sidebarToggle" type="button"></button>
                </div>
            </li>
        </ul>
        <!-- End Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3" type="button">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Search -->
                    <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search"
                          asp-controller="Ventas" asp-action="Buscar" method="get">
                        <div class="input-group">
                            <input name="codigo" type="text"
                                   class="form-control bg-light border-0 small"
                                   placeholder="Buscar venta por código..." />
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="submit">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>

                    <!-- Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Alerts -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-bell fa-fw"></i>
                                <span class="badge badge-danger badge-counter">3+</span>
                            </a>

                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                 aria-labelledby="alertsDropdown">
                                <h6 class="dropdown-header">Alerts Center</h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-primary">
                                            <i class="fas fa-file-alt text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 12, 2019</div>
                                        <span class="font-weight-bold">A new monthly report is ready!</span>
                                    </div>
                                </a>
                                <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                            </div>
                        </li>

                        <!-- Messages -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-envelope fa-fw"></i>
                                <span class="badge badge-danger badge-counter">7</span>
                            </a>

                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                 aria-labelledby="messagesDropdown">
                                <h6 class="dropdown-header">Message Center</h6>
                                <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
                            </div>
                        </li>

                        <li class="nav-item">
                            <div class="topbar-divider d-none d-sm-block"></div>
                        </li>

                        <!-- Usuario -->
                        @if (string.IsNullOrWhiteSpace(Context.Session.GetString("UsuarioId")))
                        {
                            <!-- NO autenticado -->
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Account" asp-action="Login">
                                    <i class="fas fa-user"></i> Ingresar
                                </a>
                            </li>
                        }
                        else
                        {
                            <!-- AUTENTICADO -->
                            <li class="nav-item dropdown no-arrow">
                                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="mr-2 d-none d-lg-inline text-gray-600 small">
                                        @Context.Session.GetString("NombreCompleto")
                                    </span>
                                    <img class="img-profile rounded-circle"
                                         src="~/img/undraw_profile.svg">
                                </a>

                                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                     aria-labelledby="userDropdown">
                                    <a class="dropdown-item" href="#">
                                        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Perfil
                                    </a>

                                    <a class="dropdown-item" href="#">
                                        <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Ajustes
                                    </a>

                                    <div class="dropdown-divider"></div>

                                    <form asp-controller="Account" asp-action="Logout" method="post">
                                        @Html.AntiForgeryToken()
                                        <button type="submit" class="dropdown-item">
                                            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                            Salir
                                        </button>
                                    </form>

                                </div>
                            </li>
                        }


                    </ul>
                </nav>

                <div class="container-fluid">
                    @RenderBody()
                </div>
            </div>

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; 2025 <strong>Real Hasta la Suerte</strong> - Desarrollador: <strong>ERVM</strong></span>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- JS: orden crítico para SB Admin 2 (Bootstrap 4) -->
    <script src="~/vendor/jquery/jquery.min.js" asp-append-version="true"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script src="~/vendor/jquery-easing/jquery.easing.min.js" asp-append-version="true"></script>

    <!-- (Opcional) DataTables: debe ir después de jQuery y Bootstrap -->
    <script src="~/vendor/datatables/jquery.dataTables.min.js" asp-append-version="true"></script>
    <script src="~/vendor/datatables/dataTables.bootstrap4.min.js" asp-append-version="true"></script>

    @if (Env.IsDevelopment())
    {
        <script src="~/js/sb-admin-2.js" asp-append-version="true"></script>
    }
    else
    {
        <script src="~/js/sb-admin-2.min.js" asp-append-version="true"></script>
    }

    @RenderSection("Scripts", required: false)

</body>
</html>
